body {
	font-family: Georgia, serif;
	background-color: #ffffff;
	margin: 0px;
}

h2 {
	font-weight: normal;
	color: #555;
	padding-right: 20%;
}

#content {
	top: 10px; left: 10px;
	color: #dddddd;
	padding: 4px;
	font-size: 13px;
	text-align: left;
	z-index: 0;
}

#header  
{
     color: #ffffff;
     background-color: #000000;
     text-align: left;
     position: absolute;
     top: 0px;
     left: 0px;
	 padding: 4 8 4 4;
	 z-index: 1;
}

#madewith  
{
     color: #ffffff;
     background-color: #000000;
     text-align: left;
     position: absolute;
     top: 0px;
     right: 0px;
	 padding: 4 8 4 4;
	 z-index: 1;
}

#details
{
     color: #ffffff;
	 font-size: 12px;
     background-color: #000000;
     text-align: left;
     position: absolute;
	 padding: 4 4 4 4;
     top: 28px;
     left: 0px;
	 z-index: 1;
}

.thumb
{
	 float: left;
	 padding: 8 16 8 0;
}

.thumbdesc {
    font-size: 12px;
    text-align: left;
	background-color: #000000;
	padding: 5 5 5 5;
	margin-top: 1;
}

a:link, a:visited {
	color: 83c3e4;
	text-decoration: none;
}

a:hover {
	color: 83c3e4;
	text-decoration: underline;
}
