body {
	font-family: Georgia, serif;
	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

#options, #content {
	position: absolute;
	top: 10px; left: 10px; width: 800px;
	color: #dddddd;
	padding: 5px;
	font-size: 13px;
	text-align: left;
	z-index:100;
}