body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	color: #555555;
	margin: 0px;
	line-height: 22px;
	font-size: 14px;
}

#title {
	width: 200px;
	padding: 10px;
	position: absolute;
	margin: 0px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 70px;
	font-family: Georgia, serif;
}

.syntaxExtras { 
}

#content {
	background-color: #ffffff;
	width: 600px;
	margin-left: 170px;
	position: absolute;	
}

h1 {
	font-size: 48px;
	font-family: Georgia, serif;
}

h2 {
	font-size: 22px;
	font-family: Georgia, serif;
}

h3 {
	font-size: 15px;
}

a {
	color: #7dbedc;
}

p {
	font-size: 15px;
}
